body{
max-width: 1920px;
background-color: cornflowerblue;
padding: 10;
}

.maincontent{
    background-color: firebrick;
    border-style: solid;
    text-align: center;
    margin: 25px;
    margin-bottom:0px;
    margin-top: 0px;
}

footer{
    text-align: center;
    border-style: solid;
    border-top: 0px;
    margin:25px;
    margin-top: 0px;
    background-color: gold;
}

nav{
display:grid;    
border-style: ridge;
margin:25px;
margin-bottom:0px;
column-gap:20px;
}

.l1{
grid-column:1;
}
.l2{
    grid-column: 2;
}
.l3{
    grid-column: 3;
}
.l4{
    grid-column: 4;
}

.wrapper {
    margin:50px;
    margin-top:0px;
    display: grid;
    grid-template-columns: 480px 240px 240px;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
    background-color: darkmagenta;
}

.sidebar {
    grid-area:sidebar;
}
.content{
    grid-area:content;
}
.header{
    grid-area:header;
}
.footer{
    grid-area:footer;
}

.box{
 background-color: dimgray;
 color: peru;
 border-radius: 5px;
 padding: 10px;
 font-size: 110%;    
}
